*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f3eae7;
}

/*Header*/

header {
    top: 0;
    background-color: #D0B5A1;
    padding: 20px;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    font-size: 60px;
    color: black;
    text-align: left;
    font-weight: bold;
}

h2 {
    font-style: italic;
    font-size: 22px;
    color: black;
    text-align: left;
    margin-left: 30px;
}

nav {
    display: flex;
}

nav li {
    display: inline;
    font-size: 18px;
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.header__carrito{
    width: 40px;
    height: 40px;
    align-items: flex-end;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #bd9696;
    border-radius: 20px;
    border-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content li {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-divider {
    background-color: #333;
    height: 1px; 
}

.dropdown-option:hover {
    color: #ffffff;
}


/*Index*/

.herocontainer {
    background-size: cover;
    text-align: left; 
    height: 600px;
    position: relative; 
}

.heroimg {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}

.herobutton {
    position: relative;
    bottom: 100px;
    background-color: #D0B5A1;
    color: #fff; 
    font-size: 30px;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    margin: 100px;
}

.imginicio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

.imagenmasc, .imagenfem, .imagenniño {
    height: 500px;
    width: 33.33%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    object-fit: cover; 
}

.botonmasc, .botonfem, .botonniño {
    background-color: #D0B5A1;
    border-radius: 10px;
    padding: 5px 15px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.botonniño {
    margin-right: 10px;
}

.lastblockmain {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    margin-bottom: 30px;
    border: 1px solid black;
}

.seguinosblockmain, .suscriblockmain {
    margin: 30px;
}

.lastsubtitles {
    padding-bottom: 10px;
    text-align: center;
}

.email{
    font-size: 16px;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #041527;
}

.suscributton {
    background-color: #D0B5A1;
    font-weight: bold;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 50px;
    cursor: pointer;
    margin-top: 10px;
}

.herobutton:hover, .suscributton:hover, .botonfem:hover, .botonmasc:hover, .botonniño:hover, .vermas-button:hover {
    background-color: #4b5055; 
}

.botonesproductos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    font-weight: bold;
    text-decoration: none;
}

.estilotitulos {
    font-size: 30px;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 25px;
} 
.infolist {
    padding-left: 50px;
    padding-bottom: 200px;
}

.infolorem {
    padding: 20px;
}

.contpadre {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.tabla {
    margin-left: 50px;
    margin-bottom: 50px;
}

.prod {
    width: 300px;
    height: 20px;
}

.precio {
    width: 150px;
}

.cantidad {
    width: 100px;
}

.total {
    width: 70px;
}

.prod1 {
    height: 400px;
}

.seguinosblock {
    width: 400px;
    height: 700px;
}

.carritotitles {
    font-size: 30px;
    padding-top: 150px;
    padding-bottom: 25px;
    padding-right: 25px;
}

.facesvg, .instasvg {
    height: 50px;
} 

/* Contacto */


.formtitle {
    padding-left: 30px;
    padding-top: 30px;
}

.form-container {
    display: flex;
    flex-direction: column;
    max-width: 900px; 
}

form div {
    margin-bottom: 20px;
    max-width: 300px;
    padding: 10px;
    border-radius: 5px;
}

.form-group {
    max-width: 500px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.button-group {
    text-align: left;
    margin-left: 15;
}

.inputfield {
    width: 100%;
}

.btn-custom, .btn-secondary {
    background-color: #bd9696;
    font-weight: bold;
}

/* Footer*/

footer div {
    background-color: #D0B5A1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; 
    align-items: center; 
    padding: 30px;
}

.footertitle {
    font-weight: bold;
    font-size: 40px;
    margin-right: 20px;
    margin-left: -5px;
}

.navprod {
    background-color: #bd9696;
    height: 75px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;

}

.irArriba {
    color: black;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 30px;
}

/* Pestaña Productos*/

.product-titles {
    background-color: #bd9696;
    color: black; 
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.ropa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    border-bottom: 1px solid black;
}

.ropa article {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 15px;
    text-align: center;
}

.ropa article img {
    height: auto;
    max-width: 100%;
}

.vermas-button {
    background-color: #bd9696;
    color: black; 
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 10px;
}

/* Pestaña Información*/

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 6fr; 
    padding: 10px;
    grid-gap: 10px; 
    grid-template-areas:
    "banner banner"
    "quienes-container preguntas-container";
    height: 100%;
}

.banner {
    grid-area: banner;
    background-image: url('../images/banner.webp'); 
    background-size: cover; 
    color: black; 
    font-size: 20px;
    font-weight: bold;
    padding: 10px; 
    line-height: 80px;
}

.masdetalles {
    background-color: #bd9696;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.quienes-container {
    background-color: #ccc;
    grid-area: quienes-container;
    padding: 10px;
}

.preguntas-container {
    background-color: #ccc;
    grid-area: preguntas-container;
    padding: 10px;
}

/* Medias queries */
@media screen and (min-width: 600px){
    .ropa article img{
        height: 400px;
    }
}

@media screen and (max-width: 300px){
    .herobutton{
        margin: 25px;
        padding: 5px 10px; 
        font-size: 12px; 
    }
    
}

@media screen and (max-width: 500px){
    .herobutton{
        margin: 50px;
        padding: 10px 20px; 
        font-size: 18px; 
    }
    
}

@media screen and (max-width: 600px){
    .grid-container {
        grid-template-areas: "banner banner"
                            "quienes-container quienes-container"
                            "preguntas-container preguntas-container";
        max-height: 50%;
    }
    .banner {
        font-size: large;
        text-align: center;
    }
    .header {
        flex-direction: row;
    }
    .nav {
        margin-top: 0;
        margin-left: auto;
    }
    .dropdown-content {
        display: none;
    }
}

@media (max-width: 992px) {
    .imginicio {
        flex-direction: column;
    }

    .imagenfem {
        width: auto;
        margin: 20px 0;
    }
    .imagenmasc {
        width: auto;
        margin: 20px 0;
    }

    .imagenniño {
        width: 100%;
        margin: 20px;
        margin-left: 5px;
        margin-right: 10px;

    }
}

@media screen and (max-width: 1550px) {
    .ropa {
        flex-direction: column;
    }
}


