.error-container {
    margin: 10% auto;
    padding: $padding;
    background-color: #fff;
    border-radius: $border-radius;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    h1 {
        font-size: 2em;
        color: $terciary-color; 
    }
    
    p {
        font-size: 1.2em;
    }
    
    a {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: $secondary-color; /* Color azul para el enlace */
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }
    
    a:hover {
        background-color: $hover-color; 
    
    }
}
