
//Color
$primary-color: #f3eae7;
$secondary-color: #D0B5A1;
$terciary-color: #bd9696;
$price-color:  #e6ba99;
$text-color: black;
$border-color: #333;
$hover-color: #4b5055;
$container-color: #ccc;

//Fonts
$primary-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font-weight-bold: bold;
$font-italic: italic;
$h1-font-size: 60px;
$h2-font-size: 22px;
$nav-font-size: 18px;
$font-size: 30px;

//Design
$li-margin: 30px;
$border-radius: 5px;
$border-bottom: 1px solid black;
$article-border: 1px solid #ddd;
$padding: 30px;
$paddingcarrito: 25px;
$element-padding: 10px;

//Lists
$flex-row-center-around: (flex, row, center, space-around);
$flex-row-center-between: (flex, row, center, space-between);
$button: (5px, $secondary-color, $text-color);
$button-big: (20px, $secondary-color, pointer, 10px 50px);


//Mixins
@mixin flex-row-center-between($flex-row-center-between) {
  display: nth($flex-row-center-between, 1);
  flex-direction: nth($flex-row-center-between, 2);
  justify-content: nth($flex-row-center-between, 4);
  align-items: nth($flex-row-center-between, 3);
}
@mixin flex-row-center-around($flex-row-center-around) {
  display: nth($flex-row-center-around, 1);
  flex-direction: nth($flex-row-center-around, 2);
  justify-content: nth($flex-row-center-around, 3);
  align-items: nth($flex-row-center-around, 3);
}
@mixin flex-styles($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}
@mixin button($button) {
  border-radius: nth($button, 1);
  background-color: nth($button, 2);
  color: nth($button, 3);
  
  &:hover {
    background-color: $hover-color;
  }
}
@mixin button-big($button-big) {
  border-radius: nth($button-big, 1);
  background-color: nth($button-big, 2);
  cursor: nth($button-big, 3);
  padding: nth($button-big, 4);
  &:hover {
    background-color: $hover-color;
  }
  }
@mixin link-styles {
  text-decoration: none;
  color: $text-color;
  font-weight: $font-weight-bold;
}
@mixin button-style {
  background-color: $secondary-color;
  color: $primary-color;
  padding: 10px 20px;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  margin: 100px;
  &:hover {
    background-color: $hover-color;
  }
  }
