.herocontainer {
  background-size: cover;
  text-align: left;
  height: 600px;
  position: relative;
  }
.heroimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.herobutton {
    position: relative;
    bottom: 100px;
    @include button-style;
    @media screen and (max-width: 500px){
      .herobutton{
          margin: 20px;
          padding: 10px 20px; 
          font-size: 18px; 
      }
    }

  }

  .imginicio {
    @include flex-row-center-between($flex-row-center-between);
    margin-top: 10px;
    margin-bottom: 10px;
    
    .imagenmasc, .imagenfem, .imageninfantil {
      height: 400px;
      width: 400px;
      margin: 40px;
      border-radius: 20px;
      object-fit: cover;
      
    }
  }
  .imginicio a:hover img {
    transform: scale(1.05);
    transition: transform 0.3s; 
  }

  @media screen and (max-width: 1270px) {
    .imginicio {
      display: flex;
      flex-direction: column;
      }
    }.imagenfem, .imagenmasc, .imageninfantil {
      margin: 30px;
    }
  
  @media screen and (max-width: 410px) {
    .imagenfem, .imagenmasc, .imageninfantil {
        max-height: 340px;
        max-width: 340px;
      }
 }
.lastblockmain {
  @include flex-row-center-around($flex-row-center-between);
  text-align: center;
  margin-bottom: 30px;
  border: 1px solid $text-color;
  .seguinosblockmain, .suscriblockmain {
    margin: 30px;
  }
  .lastsubtitles {
    padding-bottom: 10px;
    text-align: center;
  }
}
